

#layer_2 {
    margin: 2%;
}
#layer_3 {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
    max-width: 901px;
    border-radius: 20px;
    border-style: outset;
}


