RewriteEngine on

ErrorDocument 404 /error/ERROR404.html
ErrorDocument 403 /error/ERROR403.html

RewriteRule ^$ /etusivu [L,R=302]




RewriteRule ^/?etusivu/process?$ /etusivu/server/process\.php [END]
RewriteRule ^/?admin?$ /admin/index\.php [END]
RewriteRule ^/?kojelauta?$ /kojelauta/index\.php [END]
RewriteRule ^/?logout?$ /static/server/logout\.php [END]
