body {
    background-image: url("../../static/images/tausta-HD.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: clamp(0.8vw + 10px, 1.5vw, 4vw);
}

.sidebar {
    display: none;
    z-index: 5;
    max-width: 70%;
    position: absolute;
    right: 0;
}


#layer_1 {
    justify-content: center;
    width: 100%;
    height: 25%;
}

.menubutton {
display: inline-block;
text-align: middle;
transition: .75s;
transform: rotate(-360deg);
}

.menubutton::after {
transition: .75s;
color: white;
content: "menu";
}

.openMenu {
transition: .75s;
transform: rotate(360deg);
}

.openMenu::after {
color: black;
content: "Close";
transition: .75s;
}

.hidden {
visibility: hidden;
}

#sticky {
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
z-index: 1000;
width: 100%;
}

.bottombar {
display: flex;
justify-content: left;
width: 100%;
list-style-type: none;
overflow: hidden;
background-color: #333;
color: white;
}

.bottombar span {
display: flex;
padding: 12px 15px;
font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: clamp(1.5vw + 40px, 4vw, 12vw);
    background-color: #333;
    border-top-style: outset; 
    border-bottom-style: outset;
}

.material-symbols-outlined{
    font-size: clamp(1vw + 20px, 2vw, 6vw);
}

.left-links,
.center-links,
.right-links {
    display: flex;
    align-items: center;
    height: 100%;
}

.left-links a,
.center-links a,
.right-links a {
    cursor: pointer;
    padding: 0 10px; /* Adjust the padding of the links */
    background-color: #333;
    color: #f2f2f2;
    text-decoration: none;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-links a:hover,
.center-links a:hover,
.right-links a:hover {
    background-color: #555;
}
